PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
numpy==1.24.4
scipy==1.10.1
Pillow==10.4.0
python-dateutil==2.9.0.post0
requests==2.32.4
cryptography==42.0.8
pyOpenSSL==24.1.0
Jinja2==3.1.6
pyqtgraph==0.13.3
configobj==5.0.9
influxdb==5.3.2
influxpy==0.2.1
pandas==2.0.3
pymodbus==3.7.4
numpy-ringbuffer==0.2.2
websockets==13.1
